# Virtual Environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Large raw data (optional but recommended for GitHub)
data/raw/videos/
data/raw/channels/

# OS files
.DS_Store
Thumbs.db
