# Virtual Environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Raw data
data/raw/

# Staging Parquet files
data/staging/

# Warehouse Parquet files
data/warehouse/

# OS files
.DS_Store
Thumbs.db
